h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  
}

p{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 2em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

legend{
  border-bottom: solid black 1px;
  text-align: center;
}

#submitButton {
  color: #B4B7BA;
  background-color: #000;
  border: #fff solid 2px;
}

body {
  background: #B4B7BA;
}

.jumbotron {
  background-image: url(../images/hoop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.jumbotron .h1, .jumbotron h1 {
    color: #B4B7BA;
}
